{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block content %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
            
{% endblock %}
