body
    color: #555
    font-family: 'Dosis', sans-serif
    font-size: 14px
    text-align: center

    h1
        margin-top: 80px
        font-family: 'Dosis', sans-serif
        @media (max-width: 767px)
            margin: 10px

#sidebar
    text-align: left
    position: relative
    padding-top: 80px
    padding-left: 150px
    a
        color: #2C3E50
    a:hover
        text-decoration: underline
    @media (max-width: 767px)
        bottom: 20px
        text-align: center
        padding: 40px


.titre
    text-align: center
    margin-bottom: 15px
    margin-top: 50px
    color: #555
    text-transform: uppercase
    font-weight: bold
    @media (max-width: 767px)
        text-align: center
        margin-top: 40px
        margin-bottom: 10px

.text
    text-align: center
    word-wrap: break-word
    white-space: -moz-pre-wrap
    white-space: pre-wrap
    text-transform: capitalize
    @media (max-width: 767px)
        text-align: center


.ligne
    padding-top: 15px
    padding-bottom: 15px
    @media (max-width: 767px)
        padding-top: 0px
        padding-bottom: 0px

.btn
    border: none
    color: #eee
    background-color: #555






// Externe
#externebtn
    color: #eee
    background-color: #02a3e6
    font-size: 18px
    font-weight: bold
    margin-top: 65px
    margin-bottom: 105px
    @media (max-width: 767px)
        margin: 10px

#externebtn:visited
    color: #333

#externebtn:hover
    color: #eee
    background-color: #798d8f

#menu_externe
    .titre, h1
        color: #02a3e6



// Scolaire

#scolairebtn
    color: #eee
    background-color: #e602e3
    font-size: 18px
    font-weight: bold
    margin-top: 65px
    margin-bottom: 105px
    @media (max-width: 767px)
        margin: 10px


#scolairebtn:actived
    color: #333

#scolairebtn:hover
    color: #eee
    background-color: #798d8f

#menu_scolaire
    .titre, h1
        color: #e602e3




// Résident
#residentbtn
    color: #eee
    background-color: #e60258
    font-size: 18px
    font-weight: bold
    margin-top: 65px
    margin-bottom: 105px
    @media (max-width: 767px)
        margin: 10px


#residentbtn:visited
    color: #333

#residentbtn:hover
    color: #eee
    background-color: #798d8f

#menu_resident
    .titre, h1
        color: #e60258
    .sous-titre
        font-style: italic
        margin-top: 15px
        margin-bottom: 3px
        color: #e60258
