.navbar-default .navbar-nav > li > .log
    color: #18bc9c
    font-weight: bold
    @media (max-width: 767px)
        margin-bottom: 20px

.subtitle
    margin-bottom: 50px
    color: #757575
    font-style: italic

.img-menu
    height: 20px
    margin-right: 15px


.navbar
    background-color: #e6e6e6

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
    color: #555

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover
    color: #999

.navbar-toggle
    border: none
    background-color: #999



// row btn
.btn
    width: 250px
    height: 50px
    background-color: #dddddd
    margin: 5px
