{% if admin.hasAccess('delete', object) and admin.hasRoute('delete') %}

    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-danger delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">

        <i class="fa fa-times" aria-hidden="true"></i>

        Supprimer

    </a>

{% endif %}
