{% trans_default_domain 'FOSUserBundle' %}
<h1>Se connecter</h1>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<p style="color:red; font-weight:bold; font-size:15px;">
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
</p>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="col-sm-12">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div class="col-sm-12">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        {% if error %}
            <div class="erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}




        <div class="col-sm-12">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-success" />
        </div>

    </div>
</form>
