{% extends '::base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body_id 'login' %}

{% block main %}

    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock main %}
